
.titulo H1{
    margin: 30px;
    text-align: center;
    font-weight: bold;
    color: #0c15b3;
    text-shadow: 0 0 30px #61119b;
}

input{
    margin-bottom: 20px;
}
.botonesmodal{
    margin-left: 7%;
}
.botonesmodal button{
    margin-top: 20px;
    width: 100%;
}

.botonesmodal input{
    margin-top: 20px;
    width: 100%;
}
.horario{
    margin: auto;
}

