.containerOwnApp {
    box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
    padding-top: 15px;
}
.login-page {
    padding: 8% 0 0;
    margin: 0 auto 100px;
    max-width: 360px;
    position: relative;
}
.login-form {
    box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
}
.login-form-header {
    padding-top: 16px;
}
.login-from-row {
    padding-top: 16px;
    padding-bottom: 16px;
}
.login-form-font-header {
    font-size:30px;
    font-weight: bold;
}
.login-form-font-header span {
    color: #0c15b3;
}
.login-form-font-header2 {
    font-size:20px;
    margin-top: -20px;
    font-weight: bold;
}
#registrate{
    font-size: 17px;
}
#registrate a{
    text-decoration: none;
}
