.login-form-font-header span {
    color: #0c15b3;
}
.login-form-font-header {
    font-size:30px;
    font-weight: bold;
}
.login-form-font-header2 {
    font-size:20px;
    margin-top: -20px;
    font-weight: bold;
}
.present{
    margin-bottom: 10px;
}
#registrate{
    font-size: 17px;
}
#registrate a{
    text-decoration: none;
}
label{
    padding: 10px 0px 0px;
}
#enviar{
    margin-top: 30px;
}
#login{
    margin-top: 20px;
}
#login a{
    text-decoration: none;
    font-size: 15px;
}
span{
    color: red;
}
